.homepage-container {
    padding: 25px 25px 25px 25px;
}

.product-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, 251px);
    justify-content: space-between;
}

.padding-t-25 {
    padding-top: 25px;
}
