.admin-product-card-container {
    margin-bottom: 15px;

    .old-product-price-container {
        font-size: 16px;
    }

    .product-price {
        font-size: 20px;
    }
}

.admin-card-product-image {
    width: 130px;
}

.admin-card-product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 550px;
}

.admin-card-product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 550px;
}


@media (max-width: 1341px) {
    .admin-card-product-name {
        width: 380px;
    }

    .admin-card-product-description {
        width: 380px;
    }
}

@media (max-width: 768px) {
    .admin-card-product-name {
        width: 400px;
    }

    .admin-card-product-description {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .admin-card-product-name {
        width: 100%;
    }

    .admin-card-product-description {
        width: 100%;
    }

    .admin-product-card-container {
        .border-right {
            border-right: none !important;
        }

        .mt-3 {
            margin-top: 0 !important;
        }
    }

    .border-btm {
        border-bottom: 1px solid #e5e5e5;
    }
}
