.customer-footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    margin: 0;
}

.bi-facebook {
    color: #fff;
    font-size: 26px;
    padding-right: 5px;
}

.bi-instagram {
    color: #fff;
    font-size: 26px;
}

.customer-footer-credits {
    font-style: italic;
    margin-top: 10px;
}
