.sidebar-container {
    background: white;
    height: 100vh;
    width: 300px;
}

.sidebar-user {
    align-items: center;
    background: #eeeeee4a;
    color: #263238;
    display: block;
    display: flex;
    height: 90px;
    padding-left: 35px;
}

.sidebar-icons {
    height: 24px;
    width: 24px;
}

.sidebar-links {
    align-items: center;
    display: block;
    display: flex;
    height: 75px;
    padding-left: 35px;

    &.active {
        background: rgba(99, 192, 225, 0.4);
        color: #63c0e1;
    }

    &:hover {
        color: #63c0e1;
    }
}

.view-sidebar-store {
    align-items: center;
    display: block;
    display: flex;
    height: 75px;
    padding-left: 35px;

    &:hover {
        color: #63c0e1;
    }
}
