.product-details-container {
    padding: 25px 25px 25px 25px;
}

.row {
    margin: 0;
}

.back-button {
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    text-align: center;
    width: 78px;
}

.product-images-container {
    height: 374px;
    width: 798px;
    align-items: center;
}

.product-description {
    line-height: normal;
    margin-top: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
