.client-footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    margin: 0;
}

.bi-facebook {
    color: white;
    font-size: 25px;
    padding-right: 5px;
}

.bi-instagram {
    color: white;
    font-size: 25px;
}

.developed-by {
    font-style: italic;
    margin-top: 8px;
}
