.admin-container {
    display: flex;
}

.admin-content {
    flex: 1;
}

.admin-product-list-container {
    margin-top: 25px;
}

.btn-edit {
    color: #9e9e9e;
}

.Toastify__toast-container {
    padding: 0;
}

.Toastify__toast {
    border-radius: 10px;
    font-size: 14px;
    min-height: 40px;
}

.Toastify__toast--success {
    background: #198754;
}

.Toastify__toast--error {
    background: #dc3545;
}

.Toastify__toast-body {
    padding: 0;
}


@media (max-width: 992px) {
    .admin-container {
        flex-direction: column;
    }
}
