.customer-product-card-container {
    height: 319px;
    margin-top: 25px;
    padding-top: 15px;
    text-align: center;
}

.main-customer-product-image {
    height: 150px;
}

.customer-product-card-info {
    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    text-align: left;
}

.customer-product-name {
    color: #263238;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 221px;
}

a {
    &:hover {
        text-decoration: none;
        color: unset;
    }
}
