.customer-product-card-container {
    height: 315px;
    margin-top: 25px;
    padding-top: 12px;
    text-align: center;
}

.customer-card-product-image {
    height: 150px;
}

.customer-product-card-info {
    border-top: 1px solid #e1e1e1;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    text-align: left;
}

.customer-card-product-name {
    color: #263238;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 852px) {
    .customer-product-card-container {
        height: 311px;
        padding-top: 11px;
    }

    .customer-product-card-info {
        margin-top: 11px;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 11px;
    }
}

@media (max-width: 576px) {
    .customer-product-card-container {
        padding-top: 12px;
    }
    .customer-product-card-info {
        margin-top: 12px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
    }
}
