.back-button {
    border-radius: 10px;
    margin-bottom: 25px;
    width: 60px;
}

.row {
    margin: 0;
}

.product-image {
    align-items: center;
    height: 430px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.product-details {
    .old-product-price-container {
        font-size: 16px;
    }

    .product-price {
        font-size: 20px;
    }
}

.product-name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-description-container {
    margin-top: 25px;
    text-align: justify;
}

.product-description-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
