.back-button {
    border-radius: 10px;
    margin-bottom: 25px;
    width: 60px;
}

.row {
    margin: 0;
}

.product-images-container {
    align-items: center;
    height: 378px;
    width: 798px;
}

.product-details .new-f-s {
    font-size: 20px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.product-description {
    text-align: justify;
    margin-top: 25px;
}

.f-s-18 {
    font-size: 18px;
}
