.row {
    margin: 0;
}

.back-btn {
    border-radius: 10px;
    height: 34px;
    margin-bottom: 25px;
    text-align: center;
    width: 78px;
}

.product-images-container {
    align-items: center;
    height: 374px;
    width: 798px;
}

.product-details-container .new-f-s {
    font-size: 20px;
}

.product-details-container .new-f-s-14 {
    font-size: 14px;
}

.product-description {
    line-height: normal;
    margin-top: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
