a {
    &:hover {
      text-decoration: none;
      color: unset;
    }
}

.product-card-container {
    height: 286px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.product-info-container {
    border-top: 1px solid #E1E1E1;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 4px;
    text-align: left;
}

.p-c-product-name {
    line-height: normal;
    color: #263238;
}

.p-c-product-currency {
    padding-right: 3px;
}
