.breadcrumb {
    background-color: unset;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    padding: 0 0 6px 0;
}

.c-263238 {
    color: #263238;
}

.breadcrumb-nav-link.active {
    color: #90278e;
    font-weight: 700;
}
