.base-container {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    .form-control::placeholder {
        font-style: italic;
    }

    /* Internet Explorer 10-11 */
    .form-control:-ms-input-placeholder {
        font-style: italic;
    }

    /* Microsoft Edge */
    .form-control::-ms-input-placeholder {
        font-style: italic;
    }
}

.categories-select__control {
    border-radius: 10px !important;
}

.categories-select__placeholder {
    color: #9e9e9e !important;
}
