/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder {
    color: #9e9e9e;
    //font-style: italic;
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder {
    color: #9e9e9e;
    //font-style: italic;
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder {
    color: #9e9e9e;
    //font-style: italic;
}

.categories-select__control {
    border: 1px solid #ced4da;
    border-radius: 10px !important;
}

.categories-select__placeholder {
    color: #9e9e9e !important;
}

.categories-select__indicator-separator {
    display: none;
}

.text-editor {
    height: 50px;
    margin-top: 55px;
    text-align: center;
}

.Toastify__toast-container {
    padding: 0;
}

.Toastify__toast {
    border-radius: 10px;
    font-size: 14px;
    min-height: 40px;
}

.Toastify__toast--success {
    background: #198754;
}

.Toastify__toast--error {
    background: #dc3545;
}

.Toastify__toast-body {
    padding: 0;
}
