.m-t-21 {
    margin-top: 21px;
}

.m-t-12 {
    margin-top: 12px;
}

.categories-select__control {
    border-radius: 10px !important;
}

@media (max-width: 576px) {
    .base-container {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        .form-control::placeholder {
            font-size: 14px;
        }

        /* Internet Explorer 10-11 */
        .form-control:-ms-input-placeholder {
            font-size: 14px;
        }

        /* Microsoft Edge */
        .form-control::-ms-input-placeholder {
            font-size: 14px;
        }

        .categories-select__placeholder {
            font-size: 14px;
        }

        .public-DraftEditorPlaceholder-root {
            font-size: 14px;
        }
    }
}

.toolbar-container {
    border: 1px solid #ced4da !important;
    border-radius: 10px !important;
    justify-content: center !important;
}

.rdw-editor-toolbar {
    margin-bottom: 6px;
}

.custom-icon {
    height: 24px !important;
}

.editor-container {
    border: 1px solid #ced4da;
    border-radius: 10px !important;
    height: 321px !important;
    padding: 0 9px !important;
}
