.upload-placeholder {
    .upload-progress-container {
        background: #e1e1e1;
        border-radius: 10px;
        bottom: 10px;
        height: 10px;
        left: 27px;
        position: absolute;
        width: 126px;
    }

    .upload-progress {
        background: #63c0e1;
        border-radius: 10px;
        height: 10px;
    }

    .uploaded-image {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 576px) {
    .upload-placeholder {
        margin-top: 7px;
        padding-left: 0;
    }
}
