.store-image-container {
    margin-top: 25px;
    text-align: center;
}

.store-image {
    height: 300px;
    width: 700px;
}

.store-description-container {
    margin: 25px 25px 0 25px;
    text-align: justify;
}
