.carousel-item {
    height: auto;
    width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    align-items: center;
    background-image: none;
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    outline: none;
    width: 100px;
}

.carousel-control-next-icon:after {
    align-self: center;
    color: gray;
    content: ">";
    font-size: 20px;
}

.carousel-control-prev-icon:after {
    color: gray;
    content: "<";
    font-size: 20px;
}
