.navbar-logo{
    display:flex;
    justify-content:center;
    align-items:center;
   
    width:100%;
}
.teste {
   text-align: center;
   justify-content: center;
   
}

.teste3 {
    padding-left: 60px;
}