.base-container {
    background-color: #fff;
}

.b-1-s-e5e5e5 {
    border: 1px solid #e5e5e5;
}

.b-b-1-s-e5e5e5 {
    border-bottom: 1px solid #e5e5e5;
}

.b-r-10 {
    border-radius: 10px;
}

.b-s-1-10 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.c-63c0e1 {
    color: #63c0e1;
}

.c-9e9e9e {
    color: #9e9e9e;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-14 {
    font-size: 14px;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

.m-h-485 {
    min-height: 485px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-25 {
    margin: 25px 25px 25px 25px;
}

.p-r-0 {
    padding-right: 0;
}

.p-r-3 {
    padding-right: 3px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-25 {
    padding: 25px 25px 25px 25px;
}

.product-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, 251px);
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
