.padding-r-9 {
    padding-right: 9px;
}

.search-box {
    border-radius: 10px;
    height: 34px;
    width: 23rem;   
}

.search-button {
    background-color: #F8F9FA;
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    text-align: center;
    width: 78px;
}
