.product-category-filter-container {
    padding: 4px;
    width: 45%;
}

.product-category-select__control {
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.product-category-select__indicator-separator {
    display: none;
}

.admin-product-list-container {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .product-category-filter-container {
        width: 100%;
    }
}
