.product-category-filter-container {
    padding: 5px;
    width: 45%;
}

.product-category-select__control {
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.product-category-select__placeholder {
    color: #9e9e9e !important;
}

.product-category-select__indicator-separator {
    display: none;
}
