.alert {
    height: 35px;
    line-height: 35px;
    margin-top: 13px;
    padding: 0px 14px;
}

.login-form {
    margin-top: 35px;
}

.login-submit {
    margin: 35px 0;
    font-size: 1rem;
}


@media (max-width: 576px) {
    .login-form {
        margin-top: 30px;
    }
}
